<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NamePrism.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D578242F1F700B4A00C75ACE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D57824431F700B4B00C75ACE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D578244E1F700B4B00C75ACE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
